#header {
  text-align: center;
  margin-bottom: 30px;
}

#head {
  display: block; text-decoration: none;
  font: 6em Helvetica, Arial, Sans-Serif; letter-spacing: -5px;  
  text-align: center;
  color: #999; text-shadow: 0px 3px 8px #2a2a2a;
}

#header > p {
  font: 1.5em Tahoma, Helvetica, Arial, Sans-Serif;
  text-align: center;
  text-shadow: 0px 2px 3px #555;
  margin-top: 0px;
}

#connect-status {
  margin-top: 0px;
}

.connected {
  color: green;
}

.unconnected {
  color: red;
}

#dtable {
  width: 90%; margin: 0 auto; background: #bdbdbd; padding: 20px;
    
  -webkit-box-shadow: 0px 2px 3px #555;
  -moz-box-shadow: 0px 2px 3px #555;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

body {
  background: #474747 url(images/bg.png);
  margin: 40px;
}

