!!! 5
html(lang="en")
  head
    title WebSniff
    link(rel: "stylesheet", href: "index.css", type: "text/css")
    link(rel: "stylesheet", href: "table.css", type: "text/css")
    script(type: "text/javascript", src: "jquery-1.5.1.min.js")
    script(type: "text/javascript", src: "jquery.dataTables.min.js")   
    script(src: "http://localhost:8000/socket.io/socket.io.js")
    script(type: "text/javascript", src: "client.js")
    
  body
    div(id: "header")
      div(id: "head") WebSniff
      p Status: 
        span(id: "connect-status", class: "unconnected") Connecting...
    #dtable
      table(cellpadding: "0", cellspacing: "0", border: "0", class: "display", id: "traffic")
        thead
          th Time
          th IP
          th Host
          th URI
          th Browser
        tfoot
          th Time
          th IP
          th Host
          th URI
          th Browser
